.navbar {
  font-size: 14px;
  height: 10vh;
  width: 100%;
  /* border-bottom: 1px solid darkgray; */
  padding: 0 2rem;
  background-color: #fff;
  position: relative;
  z-index: 999;
  box-shadow: 0 1px 3px 0 #dee0e2;
}

.navbar .nav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-container .first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  height: 100%;
  width: 33%;
  transition: width 0.5s;
}

.navbar .nav-container .first-container-none {
  width: 0;
  transition: width 0.5s;
}

.navbar .nav-container .first-container .fa-bars {
  cursor: pointer;
  color: #000;
  user-select: none;
}

.navbar .nav-container .first-container .logo {
  display: flex;
  align-items: center;
  height: 60%;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar .nav-container .first-container .logo img {
  height: 100%;
  object-fit: contain;
}

/* .navbar .nav-container .first-container .logo .logo-title{
    width: 80%;
} */

.navbar .nav-container .second-container {
  /* background-color: white; */
  width: 33%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 5px;
}

.navbar .nav-container .second-container .input-container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1.5px solid lightgrey;
  /* border-radius: 50px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  padding-left: 2rem;
  background-color: #fff;
  transition: width 0.5s;
}

.navbar .nav-container .second-container .input-container i {
  width: 15%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #fff;
}

.navbar .nav-container .second-container .input-container input {
  width: 85%;
  height: 90%;
  outline: none;
  border: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  /* font-weight: 200; */
}

.navbar .nav-container .second-container .input-container input::placeholder {
  color: #000;
}

.navbar .nav-container .second-container button {
  height: 100%;
  width: 15%;
  background-color: #fff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1.5px solid lightgray;
  border-left: none;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  transition: width 0.5s;
  outline: none;
}

.navbar .nav-container .second-container-active {
  width: 0;
}

.navbar .nav-container .third-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  height: 100%;
  width: 33%;
  transition: width 0.5s;
}

.navbar .nav-container .third-container-none {
  width: 0;
  display: none;
  transition: all 0.5s;
}

.navbar .nav-container .third-container .fa-times {
  display: none;
}

.navbar .nav-container .third-container .links {
  display: flex;
  margin: auto 10px;
  text-decoration: none;
  color: #010302;
  padding: 5px;
  transition: transform 0.2s, margin 0.5s;
}

.navbar .nav-container .third-container .links:hover {
  transform: translateY(-5px);
}

.navbar .nav-container .third-container .search-icon {
  color: #fff;
  display: none;
}

.navbar .nav-container .third-container a i {
  margin: auto 5px;
}

.navbar .nav-container .third-container a p {
  font-weight: 500;
  font-size: 0.9rem;
}

.navbar .nav-container .third-container a.login-signup {
  color: #fb641b;
  display: flex;
  transition: transform 0.2s;
}

.navbar .nav-container .third-container a.login-signup:hover {
  transform: translateY(-5px);
}

.navbar .nav-container .third-container a.login-signup p {
  font-weight: 600;
}

.navbar .nav-container .third-container .profile {
  text-decoration: none;
  /* display: flex; */
  margin: auto 10px;
  color: #fb641b;
  font-weight: bold;
  /* justify-content: flex-start; */
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  /* width: 30%; */
  /* width: 150px; */
}

.navbar .nav-container .third-container .profile .username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto 10;
}

.navbar .nav-container .third-container .profile .username p {
  font-size: 0.9rem;
  /* width: 90%;
  margin-left: auto; */
}

.navbar .nav-container .third-container .profile .username i {
  font-size: 12px;
  transition: all 0.2s;
}

.navbar .nav-container .third-container .profile:hover .username i {
  transform: rotate(180deg);
}

.navbar .nav-container .third-container .profile .options::after {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 1px solid lightgray;
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: -8px;
  left: 45%;
  transform: rotate(45deg);
  z-index: -1;
}

.navbar .nav-container .third-container .profile:hover .options {
  display: flex;
}

.navbar .nav-container .third-container .profile .options {
  display: none;
  flex-direction: column;
  background-color: #fff;
  width: 180px;
  padding: 0.25rem 0;
  position: absolute;
  top: 9.8vh;
  right: -15%;
  align-items: center;
  height: fit-content;
  justify-content: center;
  border: 1px solid lightgrey;
  z-index: 2;
}

.navbar .nav-container .third-container .profile .options .option-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  text-decoration: none;
  height: 50px;
  color: #fb641b;
  transition: all 0.1s;
}

.navbar .nav-container .third-container .options .option-links p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-left: 30px;
}

.navbar .nav-container .third-container .options .option-links i {
  font-size: 13px;
}

.navbar .nav-container .third-container .options .option-links:hover {
  background-color: #e5e5e5;
  padding-left: 25px;
}

.navbar .nav-container .third-container .options .option-links:hover p {
  font-size: 15px;
}

.navbar .menu {
  position: fixed;
  top: 0;
  left: 0%;
  width: 0;
  height: 100%;
  /* display: flex;
  flex-direction: row;
   */
}

.navbar .active-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: row;
}

.navbar .blank {
  width: 100%;
  height: 100%;
}

.navbar .menu .hamburger-menu {
  position: fixed;
  top: 0;
  left: -20%;
  width: 20%;
  height: 100%;
  background-color: #fff;
  padding: 0px;
  transition: left 0.3s;
  /* display: none; */
}

.navbar .menu .hamburger-menu-none {
  position: fixed;
  top: 0;
  left: -24%;
  width: 0;
  height: 100%;
  background-color: #fff;
  display: none;
}

.navbar .menu .hamburger-menu .head {
  /* display: none; */
  height: 12vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  padding: 7px;
}

.navbar .menu .hamburger-menu .head .logo {
  height: 90%;
  width: 80%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .menu .hamburger-menu .head .logo .logo-img {
  height: 100%;
  object-fit: contain;
}

.navbar .menu .hamburger-menu .head i {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 19px;
  cursor: pointer;
}

.navbar .menu .hamburger-menu .ham-list {
  margin-top: 20px;
  display: block;
  height: 40%;
}

.navbar .menu .hamburger-menu .ham-list .box {
  height: 25%;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
  color: #000;
}

.navbar .menu .hamburger-menu .ham-list .box:hover {
  background-color: lightgray;
}

.navbar .menu .hamburger-menu .ham-list .box:active {
  background-color: grey;
}

.navbar .menu .hamburger-menu .ham-list .box p {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.open {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.navbar .menu .hamburger-menu .ham-list #cart {
  display: none;
}

.navbar .hamburger-menu .ham-list #wishlist {
  display: none;
}

.navbar .menu .hamburger-menu .ham-list .orange p,
.navbar .menu .hamburger-menu .ham-list .orange i {
  color: #fb641b;
}

.navbar .active-menu .hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #fff;
  padding: 0px;
}

/* .navbar .active-menu .hamburger-menu-none {
  position: fixed;
  top: 0;
  left: -24%;
  width: 0;
  height: 100%;
  background-color: #fff;
} */

.navbar .active-menu .hamburger-menu .head {
  /* display: none; */
  height: 12vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  padding: 7px;
}

.navbar .active-menu .hamburger-menu .head .logo {
  height: 90%;
  width: 80%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .active-menu .hamburger-menu .head .logo .logo-img {
  width: 20%;
}

.navbar .active-menu .hamburger-menu .head .logo .logo-title {
  width: 80%;
}

.navbar .active-menu .hamburger-menu .head i {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 19px;
  cursor: pointer;
}

.navbar .active-menu .hamburger-menu .ham-list {
  margin-top: 20px;
  display: block;
  height: 40%;
}

.navbar .active-menu .hamburger-menu .ham-list .box {
  height: 25%;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
  color: #000;
}

.navbar .active-menu .hamburger-menu .ham-list .box:hover {
  background-color: lightgray;
}

.navbar .active-menu .hamburger-menu .ham-list .box:active {
  background-color: grey;
}

.navbar .active-menu .hamburger-menu .ham-list .box p {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.open {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.navbar .active-menu .hamburger-menu .ham-list #cart {
  display: none;
}

.navbar .hamburger-menu .ham-list #wishlist {
  display: none;
}

.navbar .active-menu .hamburger-menu .ham-list .orange p,
.navbar .active-menu .hamburger-menu .ham-list .orange i {
  color: #fb641b;
}

@media (max-width: 1024px) {
  .navbar {
    height: 9vh;
  }

  .navbar .nav-container .first-container {
    width: 20%;
  }

  .navbar .nav-container .first-container-none {
    width: 10%;
  }

  .navbar .nav-container .first-container-none .fa-bars {
    cursor: pointer;
    color: #000;
    user-select: none;
  }

  .navbar .nav-container .first-container-none .logo {
    display: none;
  }

  .navbar .nav-container .second-container {
    width: 0;
    transition: width 0.5s;
  }

  .navbar .nav-container .second-container-active {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 5px;
  }

  .navbar .nav-container .second-container-active .input-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1.5px solid #f4f6f6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    padding-left: 2rem;
  }

  .navbar .nav-container .second-container-active .input-container i {
    width: 15%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: #fff;
  }

  .navbar .nav-container .second-container-active .input-container input {
    width: 85%;
    height: 90%;
    outline: none;
    border: none;
    font-size: 16px;
    color: #000;
  }

  .navbar
    .nav-container
    .second-container-active
    .input-container
    input::placeholder {
    color: #000;
  }

  .navbar .nav-container .second-container-active button {
    height: 100%;
    width: 15%;
    background-color: #fff;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1.5px solid #f4f6f6;
    border-left: none;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
  }

  .navbar .nav-container .second-container-active .search-button {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
  }

  .navbar .nav-container .third-container {
    width: 60%;
    justify-content: flex-end;
  }

  .navbar .nav-container .third-container-none {
    display: flex;
    width: 5%;
  }

  .navbar .nav-container .third-container-none a {
    display: none;
  }

  .navbar .nav-container .third-container-none .fa-times {
    font-size: 17px;
    margin: 10px;
    cursor: pointer;
  }

  .navbar .nav-container .third-container .search-icon {
    display: inline-block;
    color: #000;
    cursor: pointer;
  }

  .navbar .menu .hamburger-menu {
    width: 40%;
  }

  .navbar .active-menu .hamburger-menu {
    width: 40%;
  }
}

@media (max-width: 568px) {
  .navbar {
    padding: 0 10px;
  }

  .navbar .nav-container .third-container {
    width: fit-content;
  }

  .navbar .nav-container .third-container a p {
    display: none;
  }

  .navbar .nav-container .first-container {
    width: 80%;
  }

  .navbar .nav-container .third-container .search-icon i {
    margin-right: 0;
  }

  .navbar .nav-container .third-container .profile {
    display: none;
  }

  .navbar .active-menu .hamburger-menu {
    width: 60%;
  }

  .navbar .active-menu .hamburger-menu .head {
    padding-right: 5px;
    height: 10vh;
  }

  .navbar .active-menu .hamburger-menu .head .logo {
    width: 80%;
  }

  .navbar .active-menu .hamburger-menu .ham-list #cart {
    display: flex;
  }

  .navbar.active-menu .hamburger-menu .ham-list #wishlist {
    display: flex;
  }
}
