.navbar {
  font-size: 14px;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid darkgray;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar .nav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-container .first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  height: 100%;
}

.navbar .nav-container .first-container .fa-bars {
  cursor: pointer;
  color: #fff;
}

.navbar .nav-container .first-container .logo {
  display: flex;
  align-items: center;
  height: 100%;
  /* width: 80%; */
}

.navbar .nav-container .first-container .logo img {
  height: 40px;
  margin: 0 0 0 1rem;
}

.navbar .nav-container .first-container .logo img:nth-child(2) {
  margin: 0 0.5rem;
}

/* .navbar .nav-container .first-container .logo .logo-title{
    width: 80%;
} */

.navbar .nav-container .second-container {
  /* background-color: white; */
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 5px;
}

.navbar .nav-container .second-container .input-container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1.5px solid #fff;
  /* border-radius: 50px; */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
  padding-left: 2rem;
  background-color: #fff;
}

.navbar .nav-container .second-container .input-container i {
  width: 15%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #fff;
}

.navbar .nav-container .second-container .input-container input {
  width: 85%;
  height: 90%;
  outline: none;
  border: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  /* font-weight: 200; */
}

.navbar .nav-container .second-container .input-container input::placeholder {
  color: #000;
}

.navbar .nav-container .second-container button {
  height: 100%;
  width: 15%;
  background-color: lightgray;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid lightgray;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
}

.navbar .nav-container .second-container .search-button {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.navbar .nav-container .third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.navbar .nav-container .third-container a {
  display: flex;
  margin: auto 10px;
  text-decoration: none;
  color: #fff;
}

.navbar .nav-container .third-container .search-icon {
  display: none;
}

.navbar .nav-container .third-container a i {
  margin: auto 5px;
}

.navbar .nav-container .third-container a p {
  /* font-weight: 500; */
  font-size: 0.9rem;
}

.navbar .nav-container .third-container a:last-child {
  color: #fb641b;
}

.navbar .hamburger-menu {
  display: none;
  width: 20%;
  background-color: white;
  position: fixed;
  left: -20%;
  top: 5vh;
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgray;
  height: 100%;
  translate: transform ease 1s;
  transform: translateX(100%);
  z-index: 999;
}

.navbar .hamburger-menu .head{
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0 15px;
  width: 100%;
  justify-content: space-between;
}

.navbar .hamburger-menu .line {
  border-bottom: 2px solid grey;
  width: 95%;
  margin: 0 auto;
}

.navbar .hamburger-menu .head .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.navbar .hamburger-menu .head img {
  height: 60%;
}

.navbar .hamburger-menu .head i {
  margin-top: 5px;
  font-size: 15px;
  cursor: pointer;
}

.navbar .hamburger-menu .ham-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.navbar .hamburger-menu .ham-list .box {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-bottom: 1px solid lightgray;
}

.navbar .hamburger-menu .ham-list .box:hover {
  background-color: lightgray;
}

.navbar .hamburger-menu .ham-list .box:active {
  background-color: darkgrey;
}

.navbar .hamburger-menu .ham-list #shop{
  display: none;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  /* display: flex !important; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-bottom: 1px solid lightgray;
}

.navbar .hamburger-menu .ham-list .orange a,
.navbar .hamburger-menu .ham-list .orange i {
  color: #fb641b !important;
}

.navbar .hamburger-menu .ham-list a {
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  font-size: 15px;
}

.navbar .hamburger-menu .ham-list #shop .fa-caret-right.open{
  transform: rotate(90deg);
  transition: transform .3s;
}

.navbar .hamburger-menu .ham-list .shop-menu {
  display: none;
  flex-direction: column;
  height: fit-content;
  background-color: lightgray;
  margin-top: 0;
  width: 100%;
  padding: 0 12px;
}

.navbar .hamburger-menu .ham-list .shop-menu:active {
  background-color: lightgrey;
}

.active {
  background-color: gray;
}

.navbar .hamburger-menu .ham-list .shop-menu ul{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.navbar .hamburger-menu .ham-list .shop-menu ul li{
  list-style: none;
  margin: 10px 0;
  width: 70%;
}

.navbar .hamburger-menu .ham-list .shop-menu a{
  margin: 10px 0;
  width: 70%;
}

@media (max-width: 1024px) {
  .navbar {
    height: 9vh;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 12vh;
    width: 100%;
  }

  .navbar .nav-container .second-container {
    display: none;
  }

  .navbar .nav-container .first-container {
    width: 60%;
  }

  .navbar .nav-container .first-container .logo {
    width: 70%;
  }

  .navbar .nav-container .first-container .logo .logo-img {
    width: 19%;
  }

  .navbar .nav-container .first-container .logo .logo-title {
    width: 80%;
  }

  .navbar .nav-container .third-container {
    width: 200px;
    height: 40px;
  }

  .navbar .nav-container .third-container .search-icon {
    display: inline-block;
  }

  .navbar .nav-container .third-container a i {
    font-size: 20px;
  }

  .navbar .nav-container .third-container a p {
    display: none;
  }

  .navbar .hamburger-menu {
    width: 40%;
    left: -40%;
  }

  .navbar .hamburger-menu .head {
    padding-right: 5px;
  }
}

@media (max-width: 468px) {
  .navbar {
    height: 10vh;
  }

  .navbar .nav-container .third-container {
    width: fit-content;
  }

  .navbar .nav-container .third-container .links {
    display: none;
  }

  .navbar .nav-container .first-container {
    width: 80%;
  }

  .navbar .nav-container .first-container .logo {
    width: 60%;
  }

  .navbar .nav-container .first-container .logo .logo-img {
    margin-right: 1px;
  }

  .navbar .nav-container .third-container .search-icon i {
    font-size: 21px;
  }

  .navbar .hamburger-menu {
    width: 60%;
    left: -60%;
  }

  .navbar .hamburger-menu .head {
    padding-right: 5px;
    height: 8vh;
  }

  .navbar .hamburger-menu .head .logo {
    width: 80%;
  }

  .navbar .hamburger-menu .head img {
    height: 50%;
  }

  .navbar .hamburger-menu .ham-list #shop {
    display: flex;
  }

  .navbar .hamburger-menu .ham-list .shop-menu {
    display: none;
  }
}
