.errorContainer,
.infoContainer,
.successContainer{
    width: 150px;
    height: 80px;
    padding: .5rem;
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 99999999;
    transform: translateY(-200%);
    transition: transform .3s ease-in-out;
}

.errorContainer.active,
.infoContainer.active,
.successContainer.active{
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}

.errorContainer{
    background-color: orangered;
}

.infoContainer{
    background-color: #fff;
}
.successContainer{
    background-color: lightgreen;
}