.cart-cont {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.cart-cont .blank {
  width: 70%;
  height: 100vh;
}

.cart-cont .cart {
  width: 30%;
  height: 100vh;
  padding: 13px;
  background-color: white;
  padding-top: 0;
}

.cart-cont .cart-head {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.cart-cont .cart-head h2 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.cart-cont .cart-head i {
  font-size: 16px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(110, 110, 110, 0.2);
  border-radius: 5px;
}

.cart-cont .cart-body {
  height: 50vh;
  overflow-y: scroll;
}
.cart-cont .cart-body .list {
  width: 100%;
  height: 120px;
}

.cart-cont .cart-checkout {
  height: 35vh;
  margin-top: 17px;
}

.cart-cont .cart-checkout .apply-coupon {
  border: 2px solid darkgrey;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 25vh;
}

.cart-cont .cart-checkout .apply-coupon h3 {
  background-color: white;
  height: fit-content;
  width: 33%;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: -10%;
  left: 5%;
  text-align: center;
}

.cart-cont .cart-checkout .apply-coupon #coupon {
  width: 90%;
  height: 6vh;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 15px;
  padding: 15px 25px;
  margin-top: 15px;
  outline: none;
}

.cart-cont .cart-checkout .apply-coupon .avail-coupon {
  /* height: 100px;    */
  margin-top: 20px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.cart-cont .cart-checkout .apply-coupon .avail-coupon p {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.cart-cont .cart-checkout .apply-coupon .avail-coupon .coupon-selector {
  width: 100%;
  /* height: 35px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px 0 5px; 
}

.cart-cont
  .cart-checkout
  .apply-coupon
  .avail-coupon
  .coupon-selector
  .coupon-title {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-cont
  .cart-checkout
  .apply-coupon
  .avail-coupon
  .coupon-selector
  .coupon-title
  img {
  width: 11%;
}

.cart-cont
  .cart-checkout
  .apply-coupon
  .avail-coupon
  .coupon-selector
  .coupon-title
  .paragraphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 0 10px;
  /* justify-content: space-around; */
}

.cart-cont
  .cart-checkout
  .apply-coupon
  .avail-coupon
  .coupon-selector
  .coupon-title
  .paragraphs
  .coupon-name {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}

.cart-cont
  .cart-checkout
  .apply-coupon
  .avail-coupon
  .coupon-selector
  .coupon-title
  .paragraphs
  .coupon-details {
  font-size: 12px;
  font-style: normal;
  margin-left: 5px;
}

.cart-cont
  .cart-checkout
  .apply-coupon
  .avail-coupon
  .coupon-selector
  #selector {
  background-color: black;
}

.cart-cont .cart-checkout .checkout-btn {
  background-color: #fb641b;
  height: 8vh;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #fb641b;
  border-radius: 5px;
  outline: none;
}

.cart-cont .cart-checkout .checkout-btn a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-weight: 500;
}

.cart-cont .cart-checkout .checkout-btn-disabled {
  background-color: #fb641b;
  height: 8vh;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #fb641b;
  border-radius: 5px;
  outline: none;
  opacity: 0.5;
}

.cart-cont .cart-checkout .checkout-btn-disabled p {
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .cart-cont .blank {
    width: 55%;
  }

  .cart-cont .cart {
    width: 45%;
  }

  .cart-cont .cart-checkout .apply-coupon h3 {
    font-size: 12px;
    width: 30%;
  }

  .cart-cont .cart-checkout .apply-coupon #coupon {
    height: 7vh;
  }

  .cart-cont
    .cart-checkout
    .apply-coupon
    .avail-coupon
    .coupon-selector
    .coupon-title {
    width: 90%;
  }

  .cart-cont .cart-checkout .checkout-btn {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .cart-cont .blank {
    width: 30%;
  }

  .cart-cont .cart {
    width: 70%;
  }

  .cart-cont .cart-checkout .apply-coupon h3 {
    width: 30%;
    top: -8%;
  }

  .cart-cont
    .cart-checkout
    .apply-coupon
    .avail-coupon
    .coupon-selector
    .coupon-title {
    width: 80%;
  }
}

@media (max-width: 468px) {
  .cart-cont .blank {
    width: 10%;
  }

  .cart-cont .cart {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .cart-cont .cart-checkout .apply-coupon h3 {
    width: 47%;
    top: -8%;
  }

  .cart-cont
    .cart-checkout
    .apply-coupon
    .avail-coupon
    .coupon-selector
    .coupon-title {
    width: 90%;
    justify-content: space-between;
  }

  .cart-cont
    .cart-checkout
    .apply-coupon
    .avail-coupon
    .coupon-selector
    .coupon-title
    .paragraphs {
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
  }
}
