.navbar .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translateX(-100%);
  }
  
  .navbar .menu.active {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: translateX(0%);
  }
  
  .navbar .blank {
    width: 100%;
    height: 100%;
  }
  
  .navbar .menu .hamburger-menu {
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding: 0px;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.29, 1, 0.79, 1) 0s,
      -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
  }
  
  .navbar .menu .hamburger-menu.active {
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.29, 1, 0.79, 1) 0s,
      -webkit-transform 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
  }
  
  .navbar .menu .hamburger-menu .head {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
    padding: 7px;
  }
  
  .navbar .menu .hamburger-menu .head .logo {
    height: 60px;
    width: 60px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar .menu .hamburger-menu .head .logo .logo-img {
    height: 100%;
    object-fit: contain;
  }
  
  .navbar .menu .hamburger-menu .head i {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 19px;
    cursor: pointer;
  }
  
  .navbar .menu .hamburger-menu .ham-list {
    margin-top: 20px;
    display: block;
    overflow-y: scroll;
    scrollbar-width: 0;
  }

  .navbar .menu .hamburger-menu .ham-list::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  
  .navbar .menu .hamburger-menu .ham-list .box,
  .navbar .menu .hamburger-menu .ham-list  #cart,
  .navbar .menu .hamburger-menu .ham-list  #wishlist {
    padding: 1.5rem 15px;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    color: #000;
  }
  
  .navbar .menu .hamburger-menu .ham-list p{
    cursor: pointer;
  }

  .navbar .menu .hamburger-menu .ham-list .box:hover,
  .navbar .menu .hamburger-menu .ham-list  #cart:hover,
  .navbar .menu .hamburger-menu .ham-list  #wishlist:hover {
    background-color: lightgray;
  }
  
  .navbar .menu .hamburger-menu .ham-list .box:active,
  .navbar .menu .hamburger-menu .ham-list #cart:active,
  .navbar .menu .hamburger-menu .ham-list #wishlist:active {
    background-color: grey;
  }
  
  .navbar .menu .hamburger-menu .ham-list .box span,
  .navbar .menu .hamburger-menu .ham-list .box p{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  
  .navbar .menu .hamburger-menu .ham-list .box.disappear{
    display: none !important;
  }

  .open {
    transform: rotate(90deg);
    transition: transform 0.2s;
  }
  
  .navbar .menu .hamburger-menu .ham-list #cart {
    display: none;
  }
  
  .navbar .hamburger-menu .ham-list #wishlist {
    display: none;
  }
  
  .navbar .menu .hamburger-menu .ham-list .orange span,
  .navbar .menu .hamburger-menu .ham-list .orange p,
  .navbar .menu .hamburger-menu .ham-list .orange i {
    color: #fb641b;
  }

  @media(max-width: 1024px){
      .navbar .menu .hamburger-menu{
          width: 500px;
      }
  }

  @media(max-width: 680px){
    .navbar .menu .hamburger-menu{
        width: 600px;
    }
  }

  @media(max-width: 568px){
    .navbar .menu .hamburger-menu .ham-list #cart {
        display: flex;
    }
    .navbar .hamburger-menu .ham-list #wishlist {
        display: flex;
    }
    .navbar .menu .hamburger-menu .ham-list .box.disappear{
      display: flex !important;
    }
  }