.items{
    height: 110px;
    /* background-color: red; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    margin-bottom: 0;
    user-select: none;
    text-decoration: none;
    color: #000;
    /* position: relative; */
}

.items a{
    width: 25%;
}

.items a img{
    width: 100%;
}

.items .description{
    width: 70%;
    height: 90%;
    align-self: flex-end;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    justify-content: space-between;
}

.items .description p{
    font-size: 14px;
    font-weight: 600;
}

.items .description .price{
    font-weight: bold;
    font-size: 15px;
}

.items .description a{
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.items .description .counter{
    height: 25%;
    border: 1px solid grey;
    width: 30%;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
    cursor: pointer;
}

.items .description .counter .symbol{
    font-size: 18px;
    height: fit-content;
    padding-bottom: 2px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items .description .remove-link{
    position: absolute;
    right: 5px;
    bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}
